<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<div class="midbod">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <!--<pre>< %= error.stack %></pre> edited this out to make the error page look clean!-->, 
</div>


<%- include partials/footer.ejs %>